html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.color-palette {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: #fff;
  padding: 20px 10px;
  border-radius: 4px !important;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
}

.color-palette:hover {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.color-palette.blue-palette {
  background-color: #0a304e;
}

.color-palette.gray-palette {
  background-color: #626262;
}

.color-palette.default-palette {
  background-color: #e5e5e5;
  color: #000;
}

.color-palette.white-palette {
  background-color: #fff;
  color: #000;
}

.color-palette.black-palette {
  background-color: #000;
}
