html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

#main-nav {
  background-color: #0a304e;
  margin-bottom: 20px;
  padding-top: 10px;
  height: 68px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#main-nav .nav-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

#main-nav .nav-container::after {
  clear: both;
  content: "";
  display: table;
}

#main-nav .nav-container img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}

#main-nav .nav-container img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  #main-nav .nav-container img {
    visibility: hidden;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  #main-nav .nav-container img:last-child {
    margin-right: 0;
  }
}

#main-nav .nav-container nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-top: 25px;
}

#main-nav .nav-container nav:last-child {
  margin-right: 0;
}

#main-nav .nav-container nav a {
  color: #bfbfbf;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

#main-nav .nav-container nav a.active, #main-nav .nav-container nav a:hover {
  color: #fff;
  background-color: #092b46;
  border-bottom: 3px solid #fff;
}
