&lt;section class="sub-carousel">
  &lt;h2 class="sr-only" tabindex="0">Main carousel/image for page&lt;/h2>
    &lt;span class="carouselplaypausebutton">&lt;/span>
    &lt;div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="hover">
        &lt;!-- Indicators -->
        &lt;ol class="carousel-indicators sr-only">
            &lt;li data-target="#myCarousel" data-slide-to="0" class="active">&lt;/li>
            &lt;li data-target="#myCarousel" data-slide-to="1">&lt;/li>
            &lt;li data-target="#myCarousel" data-slide-to="2">&lt;/li>
            &lt;li data-target="#myCarousel" data-slide-to="3">&lt;/li>
            &lt;li data-target="#myCarousel" data-slide-to="4">&lt;/li>
            &lt;li data-target="#myCarousel" data-slide-to="5">&lt;/li>
        &lt;/ol>
        &lt;div class="carousel-inner">
            &lt;div class="item active">
                &lt;div data-caption="#caption1">
                    &lt;a href="http://will.illinois.edu/highlights/story/rick-steves-dynamic-europe-amsterdam-prague-berlin">
                        &lt;img src="http://placehold.it/1200x600" alt="Red Light Walking Tour in Amsterdam" /> &lt;/a>
                &lt;/div>
                &lt;div class="carousel-caption">
                    &lt;h2>
                        &lt;a href="/highlights/story/rick-steves-dynamic-europe-amsterdam-prague-berlin"> Rick Steves&#8217; Dynamic Europe: Amsterdam, Prague, Berlin&lt;/a>
                      &lt;/h2>
                    &lt;div class="hidden-xs hidden-sm">
                        &lt;p>7 pm Tuesday, March 3, on WILL-TV&lt;/p>
                    &lt;/div>
                &lt;/div>
                &lt;!-- .carousel-caption -->
            &lt;/div>
            &lt;!-- .item -->
            &lt;div class="item ">
                &lt;div data-caption="#caption2">
                    &lt;a href="http://will.illinois.edu/willtravel/tour/sept.-14-24-or-27-2015-southwest-england-paris-masterpieces-mysteries">
                        &lt;img src="http://placehold.it/1200x600" alt="Land&#039;s End in Cornwall" /> &lt;/a>
                &lt;/div>
                &lt;div class="carousel-caption">
                    &lt;h2>
                    &lt;a href="http://will.illinois.edu/willtravel/tour/sept.-14-24-or-27-2015-southwest-england-paris-masterpieces-mysteries"> Travel with WILL to Southwest England and Paris &lt;/a>
                  &lt;/h2>
                    &lt;div class="hidden-xs hidden-sm">
                        &lt;p>Sept. 14 to Sept. 24 or 27: Masterpiece and Mysteries Tour&lt;/p>
                    &lt;/div>
                &lt;/div>
                &lt;!-- .carousel-caption -->
            &lt;/div>
            &lt;!-- .item -->
            &lt;div class="item ">
                &lt;div data-caption="#caption3">
                    &lt;a href="http://www.pbs.org/about/news/archive/2015/pbs-most-trusted/">
                        &lt;img src="http://placehold.it/1200x600" alt="Mom and daughter play Daniel Tiger game on notebook computer." /> &lt;/a>
                &lt;/div>
                &lt;div class="carousel-caption">
                    &lt;h2>
                    &lt;a href="http://www.pbs.org/about/news/archive/2015/pbs-most-trusted/"> Survey confirms that PBS and member stations are America&#8217;s most trusted institution &lt;/a>
                  &lt;/h2>
                    &lt;div class="hidden-xs hidden-sm">&lt;/div>
                &lt;/div>
                &lt;!-- .carousel-caption -->
            &lt;/div>
            &lt;!-- .item -->
            &lt;div class="item ">
                &lt;div data-caption="#caption4">
                    &lt;a href="http://www.will.illinois.edu/highlights/story/foyles-war-revisited">
                        &lt;img src="http://placehold.it/1200x600" alt="Another picture here" /> &lt;/a>
                &lt;/div>
                &lt;div class="carousel-caption">
                    &lt;h2>
                    &lt;a href="http://www.will.illinois.edu/highlights/story/foyles-war-revisited"> Foyle&#8217;s War Revisited &lt;/a>
                  &lt;/h2>
                    &lt;div class="hidden-xs hidden-sm">
                        &lt;p>8 pm Sunday, March 8, on WILL-TV: Sneak peak at the final season.&lt;/p>
                    &lt;/div>
                &lt;/div>
                &lt;!-- .carousel-caption -->
            &lt;/div>
            &lt;!-- .item -->
            &lt;div class="item ">
                &lt;div data-caption="#caption5">
                    &lt;a href="http://www.will.illinois.edu/highlights/story/great-britcom-vote-all-star-edition">
                        &lt;img src="http://placehold.it/1200x600" alt="British flag with WILL-TV host David Thiel" /> &lt;/a>
                &lt;/div>
                &lt;div class="carousel-caption">
                    &lt;h2>
                    &lt;a href="/highlights/story/great-britcom-vote-all-star-edition"> Great BritCom Vote: 7 pm Sat., March 7, on WILL-TV &lt;/a>
                  &lt;/h2>
                    &lt;div class="hidden-xs hidden-sm">&lt;/div>
                &lt;/div>
                &lt;!-- .carousel-caption -->
            &lt;/div>
            &lt;!-- .item -->
            &lt;div class="item ">
                &lt;div data-caption="#caption6">
                    &lt;a href="http://www.will.illinois.edu/midamericangardener">
                        &lt;img src="http://placehold.it/1200x600" alt="Mid-American Gardener panelists on the set" /> &lt;/a>
                &lt;/div>
                &lt;div class="carousel-caption">
                    &lt;h2>
                    &lt;a href="http://www.will.illinois.edu/midamericangardener"> Mid-American Gardener: Thursdays at 7 pm on WILL-TV &lt;/a>
                  &lt;/h2>
                    &lt;div class="hidden-xs hidden-sm">
                        &lt;p>Watch the latest episodes.&lt;/p>
                    &lt;/div>
                &lt;/div>
                &lt;!-- .carousel-caption -->
            &lt;/div>
            &lt;!-- .item -->
        &lt;/div>
        &lt;!-- carousel-inner -->
        &lt;a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            &lt;span class="glyphicon glyphicon-chevron-left" aria-hidden="true">&lt;/span>
            &lt;span class="sr-only">Previous&lt;/span>
        &lt;/a>
        &lt;a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            &lt;span class="glyphicon glyphicon-chevron-right" aria-hidden="true">&lt;/span>
            &lt;span class="sr-only">Next&lt;/span>
        &lt;/a>
    &lt;/div>
    &lt;!-- /.carousel -->
&lt;/section>