&lt;h1>Page Header&lt;/h1>
&lt;aside class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull-right">
    &lt;div class="thumbnail">
        &lt;img class="img-responsive media-object" src="http://fillmurray.com/300/300" alt="Photo of Bill Murray">
        &lt;div class="caption">
            &lt;h2 class="thumbnail-heading">Contact:&lt;/h2>
            &lt;p> &lt;a href="index.html">kxe67@case.edu&lt;/a> &lt;/p>
            &lt;p> Something Else &lt;/p>
            &lt;p> 440.555.1234 &lt;/p>
        &lt;/div>
    &lt;/div>
&lt;/aside>
&lt;section class="user-content sub-text">
  &lt;span class="profile-title">
    &lt;p>Associate Professor, Otolaryngology&lt;/p>
    &lt;p>Associate Professor, Genetics and Genome Sciences&lt;/p>
    &lt;p>Assistant Professor, Neurosciences&lt;/p>
    &lt;p>Instructor, Pediatrics&lt;/p>
  &lt;/span>
  &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, molestie nec est et, sodales congue nunc. Sed viverra odio non odio congue, ut scelerisque metus interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, molestie nec est et, sodales congue nunc. Sed viverra odio non odio congue, ut scelerisque metus interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, molestie nec est et, sodales congue nunc. Sed viverra odio non odio congue, ut scelerisque metus interdum.&lt;/p>
&lt;/section>
