&lt;section class="sub-carousel">
    &lt;h2 class="sr-only" tabindex="0">Carousel/image&lt;/h2>
    &lt;div class="item item-inline">
        &lt;div data-caption="#caption6">
            &lt;a href="http://www.will.illinois.edu/midamericangardener">
                &lt;img src="../assets/cwru/img/1200x450.png" alt="Mid-American Gardener panelists on the set" />
            &lt;/a>
        &lt;/div>
        &lt;div class="carousel-caption">
            &lt;h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. &lt;a href="http://www.will.illinois.edu/midamericangardener"> Learn More &lt;/a>
            &lt;/h2>
        &lt;/div>
    &lt;/div>
&lt;/section>