&lt;nav aria-label="Page Breadcrumbs">
  &lt;ul class="page-breadcrumb breadcrumb" role="menu">
    &lt;li role="menuitem">
      &lt;a href="index.html">Home&lt;/a>
      &lt;i class="fa fa-angle-right" aria-hidden="true">&lt;/i>
    &lt;/li>
    &lt;li role="menuitem">
      &lt;a href="index.html">Section Title&lt;/a>
      &lt;i class="fa fa-angle-right" aria-hidden="true">&lt;/i>
    &lt;/li>
    &lt;li role="menuitem">
      &lt;a href="index.html">Section Title&lt;/a>
      &lt;i class="fa fa-angle-right" aria-hidden="true">&lt;/i>
    &lt;/li>
    &lt;li role="menuitem">
      &lt;a href="index.html">Section Title&lt;/a>
      &lt;i class="fa fa-angle-right" aria-hidden="true">&lt;/i>
    &lt;/li>
    &lt;li> CURRENT PAGE &lt;/li>
  &lt;/ul>
&lt;/nav>