&lt;section class="search-page search-content-1 sub-search search-last">
  &lt;h2>Heading goes here before stories&lt;/h2>
  &lt;div class="search-container">
      &lt;ul>
          &lt;li class="search-item clearfix">
              &lt;a href="javascriptt:;" title="Lorem ipsum dolor">
                  &lt;img src="../assets/cwru/img/480x480.png" alt="text" class="img-responsive media-object">
              &lt;/a>
              &lt;div class="search-content">
                  &lt;h3 class="search-title">
                      &lt;a href="index.html">Lorem ipsum dolor&lt;/a>
                  &lt;/h3>
                  &lt;p class="search-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque, mauris quam volutpat nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque, mauris quam volutpat nunc. &lt;/p>
                  &lt;p>&lt;a href="http://www.will.illinois.edu/midamericangardener" class="btn blue btn-lg btn-min"> Button &lt;/a>&lt;/p>
              &lt;/div>
          &lt;/li>
          &lt;li class="search-item clearfix">
              &lt;a href="index.html" title="Lorem ipsum dolor">
                  &lt;img src="../assets/cwru/img/480x480.png" alt="text" class="img-responsive media-object">
              &lt;/a>
              &lt;div class="search-content">
                  &lt;h3 class="search-title">
                      &lt;a href="index.html">Lorem ipsum dolor&lt;/a>
                  &lt;/h3>
                  &lt;p class="search-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque, mauris quam volutpat nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque, mauris quam volutpat nunc. &lt;/p>
                  &lt;p>&lt;a href="http://www.will.illinois.edu/midamericangardener" class="btn blue btn-lg btn-min"> Button &lt;/a>&lt;/p>
              &lt;/div>
          &lt;/li>
          &lt;li class="search-item clearfix">
              &lt;a href="index.html" title="Lorem ipsum dolor">
                  &lt;img src="../assets/cwru/img/480x480.png" alt="text" class="img-responsive media-object">
              &lt;/a>
              &lt;div class="search-content">
                  &lt;h3 class="search-title">
                      &lt;a href="index.html">Lorem ipsum dolor&lt;/a>
                  &lt;/h3>
                  &lt;p class="search-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque, mauris quam volutpat nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque, mauris quam volutpat nunc. &lt;/p>
                  &lt;p>&lt;a href="http://www.will.illinois.edu/midamericangardener" class="btn blue btn-lg btn-min"> Button &lt;/a>&lt;/p>
              &lt;/div>
          &lt;/li>
      &lt;/ul>
  &lt;/div>
&lt;/section>
