&lt;section class="sub-events">
    &lt;h2 class="sr-only" tabindex="0">Calendar Events&lt;/h2>
    &lt;div class="portlet box gray-light">
      &lt;div class="portlet-title">
        &lt;div class="caption"> section title &lt;/div>
      &lt;/div>
      &lt;div class="portlet-body">
        &lt;div id="gcf-demo" class="gCalFlow">

         &lt;ul class="gcf-item-container-block sideBar-cal-list">
          &lt;li class="gcf-item-block">
                &lt;div class="gcf-item-daterange">&lt;/div>  
                &lt;div class="gcf-item-title">Loading...please wait&lt;/div> 
           &lt;/li>
        &lt;/ul>

        &lt;/div>
        &lt;a href="#" class="btn blue btn-lg btn-min"> Full Calendar &lt;/a>
      &lt;/div>
    &lt;/div>
&lt;/section>