&lt;section class="sub-feed">
  &lt;h2 class="sr-only" tabindex="0">Generic sidebar content&lt;/h2>
  &lt;div class="portlet box gray-light">
    &lt;div class="portlet-title">
      &lt;div class="caption"> section title &lt;/div>
    &lt;/div>
    &lt;div class="portlet-body">
      &lt;h2>Heading this is what it looks like if it's long&lt;/h2>
      &lt;p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
        sem nec elit. Cras mattis consectetur purus sit amet fermentum.&lt;/p>
      &lt;ul>
        &lt;li> Lorem ipsum dolor sit amet &lt;/li>
        &lt;li> Consectetur adipiscing elit &lt;/li>
        &lt;li> &lt;a href="index.html">Integer molestie lorem at massa&lt;/a> &lt;/li>
        &lt;li> &lt;a href="index.html">Facilisis in pretium nisl aliquet&lt;/a> &lt;/li>
        &lt;li> &lt;a href="index.html">Nulla volutpat aliquam velit&lt;/a> &lt;/li>
        &lt;li> &lt;a href="index.html">Faucibus porta lacus fringilla vel&lt;/a> &lt;/li>
        &lt;li> &lt;a href="index.html">Aenean sit amet erat nunc&lt;/a> &lt;/li>
        &lt;li> &lt;a href="index.html">Eget porttitor lorem&lt;/a> &lt;/li>
      &lt;/ul>
      &lt;a href="http://www.will.illinois.edu/midamericangardener" class="btn blue btn-lg btn-min"> Button &lt;/a>
    &lt;/div>
  &lt;/div>
&lt;/section>
