&lt;section class="sub-accordion">
  &lt;h2 class="sr-only" tabindex="0">Collapsible Group&lt;/h2>
  &lt;div class="panel-group accordion" id="accordionID">
    &lt;div class="panel panel-default">
      &lt;div class="panel-heading">
        &lt;h4 class="panel-title">
          &lt;a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordionID" href="#collapse_3_1"> Collapsible Group Item #1 &lt;/a>
        &lt;/h4>
      &lt;/div>
      &lt;div id="collapse_3_1" class="panel-collapse collapse">
        &lt;div class="panel-body">
          &lt;p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. &lt;/p>
          &lt;p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. &lt;/p>
        &lt;/div>
      &lt;/div>
    &lt;/div>
    &lt;div class="panel panel-default">
      &lt;div class="panel-heading">
        &lt;h4 class="panel-title">
          &lt;a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordionID" href="#collapse_3_2"> Collapsible Group Item #2 &lt;/a>
        &lt;/h4>
      &lt;/div>
      &lt;div id="collapse_3_2" class="panel-collapse collapse">
        &lt;div class="panel-body">
          &lt;p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. &lt;/p>
          &lt;p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. &lt;/p>
          &lt;p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. &lt;/p>
          &lt;p>
            &lt;a class="btn blue" href="this-page.html#collapse_3_2" target="_blank"> Activate this section via URL &lt;/a>
          &lt;/p>
        &lt;/div>
      &lt;/div>
    &lt;/div>
    &lt;div class="panel panel-default">
      &lt;div class="panel-heading">
        &lt;h4 class="panel-title">
          &lt;a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordionID" href="#collapse_3_3"> Collapsible Group Item #3 &lt;/a>
        &lt;/h4>
      &lt;/div>
      &lt;div id="collapse_3_3" class="panel-collapse collapse">
        &lt;div class="panel-body">
          &lt;p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor. &lt;/p>
          &lt;p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. &lt;/p>
          &lt;p>
            &lt;a class="btn green" href="this-page.html#collapse_3_3" target="_blank"> Activate this section via URL &lt;/a>
          &lt;/p>
        &lt;/div>
      &lt;/div>
    &lt;/div>
    &lt;div class="panel panel-default">
      &lt;div class="panel-heading">
        &lt;h4 class="panel-title">
          &lt;a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordionID" href="#collapse_3_4"> Collapsible Group Item #4 &lt;/a>
        &lt;/h4>
      &lt;/div>
      &lt;div id="collapse_3_4" class="panel-collapse collapse">
        &lt;div class="panel-body">
          &lt;p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. &lt;/p>
          &lt;p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor. &lt;/p>
          &lt;p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. &lt;/p>
          &lt;p>
            &lt;a class="btn red" href="ui_tabs_accordions_navs.html#collapse_3_4" target="_blank"> Activate this section via URL &lt;/a>
          &lt;/p>
        &lt;/div>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/section>