&lt;button class="btn btn-primary">.btn.btn-primary&lt;/button>
&lt;button class="btn default">.btn.default&lt;/button>
&lt;button class="btn white">.btn.white&lt;/button>
&lt;button class="btn gray-light">.btn.gray-light&lt;/button>
&lt;button class="btn subfeatures-gray">.btn.subfeatures-gray&lt;/button>
&lt;button class="btn btn-lg">.btn.btn-lg&lt;/button>

&lt;hr>

&lt;section class="sub-buttongroup">
  &lt;h2 class="sr-only" tabindex="0">Something Link Group&lt;/h2>
  &lt;ul class="list-group">
      &lt;li class="list-group-item bg-blue bg-font-blue"> &lt;a href="index.html">&lt;i class="fa fa-coffee fa-fw" aria-hidden="true">&lt;/i>&lt;span>Link 1&lt;/span>&lt;/a> &lt;/li>
      &lt;li class="list-group-item bg-blue bg-font-blue"> &lt;a href="index.html">&lt;i class="fa fa-comment-o fa-fw" aria-hidden="true">&lt;/i>&lt;span>Link 2 has a really long name for some strange reason&lt;/span>&lt;/a> &lt;/li>
      &lt;li class="list-group-item bg-blue bg-font-blue"> &lt;a href="index.html">&lt;i class="fa fa-file-pdf-o fa-fw" aria-hidden="true">&lt;/i>&lt;span>Link 3&lt;/span>&lt;/a> &lt;/li>
      &lt;li class="list-group-item bg-blue bg-font-blue"> &lt;a href="index.html">&lt;i class="fa fa-flask fa-fw" aria-hidden="true">&lt;/i>&lt;span>Link 4&lt;/span>&lt;/a> &lt;/li>
      &lt;li class="list-group-item bg-blue bg-font-blue"> &lt;a href="index.html">&lt;i class="fa fa-film fa-fw" aria-hidden="true">&lt;/i>&lt;span>Link 5&lt;/span>&lt;/a> &lt;/li>
  &lt;/ul>
&lt;/section>
