&lt;section class="sub-table">
    &lt;h2 class="sr-only" tabindex="0">This is a table&lt;/h2>
    &lt;div class="flip-scroll" style="display: block;">
        &lt;table class="table table-bordered table-hover table-striped flip-content">
            &lt;caption class="sr-only">This is the table caption, which is required.&lt;/caption>
            &lt;thead class="flip-content">
                &lt;tr>
                    &lt;th> Code &lt;/th>
                    &lt;th> Company &lt;/th>
                    &lt;th class="numeric"> Price &lt;/th>
                    &lt;th class="numeric"> Change &lt;/th>
                    &lt;th class="numeric"> Open &lt;/th>
                    &lt;th class="numeric"> High &lt;/th>
                    &lt;th class="numeric"> Low &lt;/th>
                    &lt;th class="numeric"> Volume &lt;/th>
                &lt;/tr>
            &lt;/thead>
            &lt;tbody>
                &lt;tr>
                    &lt;td> AAC &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> &nbsp; &lt;/td>
                    &lt;td class="numeric"> -0.01 &lt;/td>
                    &lt;td class="numeric"> $1.39 &lt;/td>
                    &lt;td class="numeric"> $1.39 &lt;/td>
                    &lt;td class="numeric"> &nbsp; &lt;/td>
                    &lt;td class="numeric"> 9,395 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> AAD &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $1.15 &lt;/td>
                    &lt;td class="numeric"> +0.02 &lt;/td>
                    &lt;td class="numeric"> $1.14 &lt;/td>
                    &lt;td class="numeric"> $1.15 &lt;/td>
                    &lt;td class="numeric"> $1.13 &lt;/td>
                    &lt;td class="numeric"> 56,431 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> AAX &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $4.00 &lt;/td>
                    &lt;td class="numeric"> -0.04 &lt;/td>
                    &lt;td class="numeric"> $4.01 &lt;/td>
                    &lt;td class="numeric"> $4.05 &lt;/td>
                    &lt;td class="numeric"> $4.00 &lt;/td>
                    &lt;td class="numeric"> 90,641 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> ABC &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $3.00 &lt;/td>
                    &lt;td class="numeric"> +0.06 &lt;/td>
                    &lt;td class="numeric"> $2.98 &lt;/td>
                    &lt;td class="numeric"> $3.00 &lt;/td>
                    &lt;td class="numeric"> $2.96 &lt;/td>
                    &lt;td class="numeric"> 862,518 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> ABP &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $1.91 &lt;/td>
                    &lt;td class="numeric"> 0.00 &lt;/td>
                    &lt;td class="numeric"> $1.92 &lt;/td>
                    &lt;td class="numeric"> $1.93 &lt;/td>
                    &lt;td class="numeric"> $1.90 &lt;/td>
                    &lt;td class="numeric"> 595,701 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> ABY &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $0.77 &lt;/td>
                    &lt;td class="numeric"> +0.02 &lt;/td>
                    &lt;td class="numeric"> $0.76 &lt;/td>
                    &lt;td class="numeric"> $0.77 &lt;/td>
                    &lt;td class="numeric"> $0.76 &lt;/td>
                    &lt;td class="numeric"> 54,567 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> ACR &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $3.71 &lt;/td>
                    &lt;td class="numeric"> +0.01 &lt;/td>
                    &lt;td class="numeric"> $3.70 &lt;/td>
                    &lt;td class="numeric"> $3.72 &lt;/td>
                    &lt;td class="numeric"> $3.68 &lt;/td>
                    &lt;td class="numeric"> 191,373 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> ADU &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $0.72 &lt;/td>
                    &lt;td class="numeric"> 0.00 &lt;/td>
                    &lt;td class="numeric"> $0.73 &lt;/td>
                    &lt;td class="numeric"> $0.74 &lt;/td>
                    &lt;td class="numeric"> $0.72 &lt;/td>
                    &lt;td class="numeric"> 8,602,291 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> AGG &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $7.81 &lt;/td>
                    &lt;td class="numeric"> -0.22 &lt;/td>
                    &lt;td class="numeric"> $7.82 &lt;/td>
                    &lt;td class="numeric"> $7.82 &lt;/td>
                    &lt;td class="numeric"> $7.81 &lt;/td>
                    &lt;td class="numeric"> 148 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> AGK &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $13.82 &lt;/td>
                    &lt;td class="numeric"> +0.02 &lt;/td>
                    &lt;td class="numeric"> $13.83 &lt;/td>
                    &lt;td class="numeric"> $13.83 &lt;/td>
                    &lt;td class="numeric"> $13.67 &lt;/td>
                    &lt;td class="numeric"> 846,403 &lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td> AGO &lt;/td>
                    &lt;td> Case Western &lt;/td>
                    &lt;td class="numeric"> $3.17 &lt;/td>
                    &lt;td class="numeric"> -0.02 &lt;/td>
                    &lt;td class="numeric"> $3.11 &lt;/td>
                    &lt;td class="numeric"> $3.22 &lt;/td>
                    &lt;td class="numeric"> $3.10 &lt;/td>
                    &lt;td class="numeric"> 5,416,303 &lt;/td>
                &lt;/tr>
            &lt;/tbody>
        &lt;/table>
    &lt;/div>
&lt;/section>
