
<!-- BEGIN BUTTON GROUP MODULE
///////////////////////////////////////////////////////////// -->

                                <section class="sub-buttongroup">
                                  <h2 class="sr-only" tabindex="0">Something Link Group</h2>
                                  <ul class="list-group no-icon">
                                      <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><span>Link 1</span></a> </li>
                                      <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><span>Link 2 has a really long name for some strange reason</span></a> </li>
                                      <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><span>Plan for Internationalization</span></a> </li>
                                      <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><span>Link 4</span></a> </li>
                                      <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><span>Link 5</span></a> </li>
                                  </ul>
                                </section>
