
<!-- BEGIN FEED MODULE
///////////////////////////////////////////////////////////// -->

                                <section class="sub-feed">
                                  <h2 class="sr-only" tabindex="0">Something news feed</h2>
                                  <div class="portlet box gray-light">
                                    <div class="portlet-title">
                                      <div class="tools">
                                          <a href="feed://blog.case.edu/think/feed.atom" class="newsfeed" data-original-title="" title="get our news delivered via RSS" target="_blank"><span class="sr-only">get our news delivered via RSS</span></a>
                                      </div>
                                      <div class="caption"> recent CWRU news </div>
                                    </div>
                                    <div class="portlet-body">
                                      <ul>
                                        <li> <a href="index.html">Integer molestie lorem at massa</a><small>May 25, 2016</small></li>
                                        <li> <a href="index.html">Facilisis in pretium nisl aliquet</a><small>May 25, 2016</small> </li>
                                        <li> <a href="index.html">Nulla volutpat aliquam velit</a><small>May 25, 2016</small> </li>
                                        <li> <a href="index.html">Faucibus porta lacus fringilla vel</a><small>May 25, 2016</small> </li>
                                        <li> <a href="index.html">Aenean sit amet erat nunc</a><small>May 25, 2016</small> </li>
                                        <li> <a href="index.html">Eget porttitor lorem</a><small>May 25, 2016</small> </li>
                                      </ul>
                                  <a href="http://www.will.illinois.edu/midamericangardener" class="btn blue btn-lg btn-min"> Button </a>
                                    </div>
                                  </div>
                                </section>
