
<!-- BEGIN SUBFEATURE LANDING MODULE
///////////////////////////////////////////////////////////// -->

                        <section class="sub-landing">
                          <h2 class="sr-only" tabindex="0">Subfeatures 1</h2>
                          <div class="row eq-height">
                              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subfeatures subfeatures-landing">
                                  <div class="thumbnail no-button user-content">
                                          <h2><a href="http://www.will.illinois.edu/midamericangardener">Heading Class</a></h2>
                                  <a href="http://www.will.illinois.edu/midamericangardener">
                                      <img class="media-object" src="../assets/cwru/img/1200x450.png" alt="Mid-American Gardener panelists on the set">
                                  </a>
                                      <div class="caption">
                                          <p>Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis. Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis. Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis.</p>
                                          <ol>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Integer molestie lorem at massa</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Facilisis in pretium nisl aliquet</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Nulla volutpat aliquam velit</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Faucibus porta lacus fringilla vel</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Aenean sit amet erat nunc</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Eget porttitor lorem</a> </li>
                                          </ol>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subfeatures subfeatures-landing">
                                  <div class="thumbnail no-button user-content">
                                          <h2><a href="http://www.will.illinois.edu/midamericangardener">Heading Class</a></h2>
                                  <a href="http://www.will.illinois.edu/midamericangardener">
                                      <img class="media-object" src="../assets/cwru/img/1200x450.png" alt="Mid-American Gardener panelists on the set">
                                  </a>
                                      <div class="caption">
                                          <p>Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis. Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis. Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis.</p>
                                          <ul>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Integer molestie lorem at massa</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Facilisis in pretium nisl aliquet</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Nulla volutpat aliquam velit</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Faucibus porta lacus fringilla vel</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Aenean sit amet erat nunc</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Eget porttitor lorem</a> </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subfeatures subfeatures-landing">
                                  <div class="thumbnail no-button user-content">
                                          <h2><a href="http://www.will.illinois.edu/midamericangardener">Heading Class</a></h2>
                                  <a href="http://www.will.illinois.edu/midamericangardener">
                                      <img class="media-object" src="../assets/cwru/img/1200x450.png" alt="Mid-American Gardener panelists on the set">
                                  </a>
                                      <div class="caption">
                                          <p>Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis. Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis. Aenean id neque in felis auctor aliquam sit amet ut dolor. Vestibulum arcu ante, sagittis.</p>
                                          <ul>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Integer molestie lorem at massa</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Facilisis in pretium nisl aliquet</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Nulla volutpat aliquam velit</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Faucibus porta lacus fringilla vel</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Aenean sit amet erat nunc</a> </li>
                                            <li> <a href="http://www.will.illinois.edu/midamericangardener">Eget porttitor lorem</a> </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </section>