
<!-- BEGIN STAFF LIST MODULE
///////////////////////////////////////////////////////////// -->

                            <section class="sub-staff-list">
                            <h2 class="sr-only" tabindex="0">Office of Global Strategy</h2>
                              <div class="clearfix">
                                  <ul class="media-list staff-page">
                                      <li class="media">
                                          <a class="pull-left" href="index.html">
                                              <img class="img-responsive media-object" src="../assets/cwru/img/ken.jpg" alt="Photo of Ken Edwards">
                                          </a>
                                          <div class="media-body">
                                              <p class="media-heading"><a href="demo_staff_profile.html">Kumar Alagramam, PhD</a></p>
                                              <p class="media-title">Associate Professor, Otolaryngology</p>
                                              <p class="media-title">Associate Professor, Genetics and Genome Sciences</p>
                                              <p class="media-title">Assistant Professor, Neurosciences</p>
                                              <p class="media-title">Instructor, Pediatrics</p>
                                              <span>
                                                <p> Email: <a href="mailto:kna3@case.edu">kna3@case.edu</a> </p>
                                                <p> Phone: 440.555.1234 </p>
                                                <p> Fax: 440.555.4321 </p>
                                              </span>
                                          </div>
                                      </li>
                                      <li class="media">
                                          <a class="pull-left" href="index.html">
                                              <img class="img-responsive media-object" src="../assets/cwru/img/ken.jpg" alt="Photo of Ken Edwards">
                                          </a>
                                          <div class="media-body">
                                              <p class="media-heading"><a href="demo_staff_profile.html">Kumar Alagramam, PhD</a></p>
                                              <p class="media-title">Associate Professor, Otolaryngology</p>
                                              <p class="media-title">Associate Professor, Genetics and Genome Sciences</p>
                                              <p class="media-title">Assistant Professor, Neurosciences</p>
                                              <p class="media-title">Instructor, Pediatrics</p>
                                              <span>
                                                <p> Email: <a href="mailto:kna3@case.edu">kna3@case.edu</a> </p>
                                                <p> Phone: 440.555.1234 </p>
                                                <p> Fax: 440.555.4321 </p>
                                              </span>
                                          </div>
                                      </li>
                                      <li class="media">
                                          <div class="media-body">
                                              <p class="media-heading"><a href="demo_staff_profile.html">Kumar Alagramam, PhD</a></p>
                                              <p class="media-title">Associate Professor, Otolaryngology</p>
                                              <p class="media-title">Associate Professor, Genetics and Genome Sciences</p>
                                              <p class="media-title">Assistant Professor, Neurosciences</p>
                                              <p class="media-title">Instructor, Pediatrics</p>
                                              <span>
                                                <p> Email: <a href="mailto:kna3@case.edu">kna3@case.edu</a> </p>
                                                <p> Phone: 440.555.1234 </p>
                                                <p> Fax: 440.555.4321 </p>
                                              </span>
                                          </div>
                                      </li>
                                      <li class="media">
                                          <a class="pull-left" href="index.html">
                                              <img src="../assets/cwru/img/480x480.png" alt="text" class="img-responsive media-object">
                                          </a>
                                          <div class="media-body">
                                              <p class="media-heading"><a href="demo_staff_profile.html">Kumar Alagramam, PhD</a></p>
                                              <p class="media-title">Associate Professor, Otolaryngology</p>
                                              <p class="media-title">Associate Professor, Genetics and Genome Sciences</p>
                                              <p class="media-title">Assistant Professor, Neurosciences</p>
                                              <p class="media-title">Instructor, Pediatrics</p>
                                              <span>
                                                <p> Email: <a href="mailto:kna3@case.edu">kna3@case.edu</a> </p>
                                                <p> Phone: 440.555.1234 </p>
                                                <p> Fax: 440.555.4321 </p>
                                              </span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                            </section>