
<!-- BEGIN EVENT LIST MODULE
///////////////////////////////////////////////////////////// -->

                            <section class="sub-events">
                                <h2 class="sr-only" tabindex="0">Calendar Events</h2>
                                <div class="portlet box gray-light">
                                  <div class="portlet-title">
                                    <div class="caption"> section title </div>
                                  </div>
                                  <div class="portlet-body">
                                    <div id="gcf-simple89350" class="gCalFlow">
                                      <ul class="gcf-item-container-block cal-list">
                                        <li class="gcf-item-block">
                                          <div class="gcf-item-daterange"><span class="month">Apr</span><span class="day">07</span></div>
                                          <div class="gcf-item-title"><a target="_blank" href="https://www.google.com/calendar/event?eid=cXNudWYxdXBjdDkwdTZrcjNmNDQ0MTIxamMgY2FzZS5lZHVfZ3VwYWxjN3VybTdiODJ0YXVwNWg3dmdlOXNAZw">Graduate and Professional Student Appreciation Week</a></div>
                                        </li>
                                        <li class="gcf-item-block">
                                          <div class="gcf-item-daterange"><span class="month">Apr</span><span class="day">07</span></div>
                                          <div class="gcf-item-title"><a target="_blank" href="https://www.google.com/calendar/event?eid=amZvM2FhdHR1aDdoYzY3bDFibTFua2lsbDAgY2FzZS5lZHVfZ3VwYWxjN3VybTdiODJ0YXVwNWg3dmdlOXNAZw">Department of Biology Seminar Series: “Neuroprostheses for movement restoration.”</a></div>
                                        </li>
                                        <li class="gcf-item-block">
                                          <div class="gcf-item-daterange"><span class="month">Apr</span><span class="day">07</span></div>
                                          <div class="gcf-item-title"><a target="_blank" href="https://www.google.com/calendar/event?eid=cnJ2ODlwYzVzdjBsMGxscHJ1czBwdTJldTQgY2FzZS5lZHVfZ3VwYWxjN3VybTdiODJ0YXVwNWg3dmdlOXNAZw">Canada - US law institute Conference</a></div>
                                        </li>
                                        <li class="gcf-item-block">
                                          <div class="gcf-item-daterange"><span class="month">Apr</span><span class="day">07</span></div>
                                          <div class="gcf-item-title"><a target="_blank" href="https://www.google.com/calendar/event?eid=Y3VsdHRyZzV0bWhhODdvb2swNGNkN25wbGsgY2FzZS5lZHVfZ3VwYWxjN3VybTdiODJ0YXVwNWg3dmdlOXNAZw">Feeding War: Gender, Health, and the Mobilized Kitchen in WWI Germany</a></div>
                                        </li>
                                        <li class="gcf-item-block">
                                          <div class="gcf-item-daterange"><span class="month">Apr</span><span class="day">07</span></div>
                                          <div class="gcf-item-title"><a target="_blank" href="https://www.google.com/calendar/event?eid=MGxmMnIzcGFoYW02Mzdpa2FudHV1dnVzcjRfMjAxNjA0MDhUMDAwMDAwWiBjYXNlLmVkdV9ndXBhbGM3dXJtN2I4MnRhdXA1aDd2Z2U5c0Bn">Karaoke Night at The Jolly Scholar</a></div>
                                        </li>
                                      </ul>
                                    </div>
                                    <a href="http://www.will.illinois.edu/midamericangardener" class="btn blue btn-lg btn-min"> Full Calendar </a>
                                  </div>
                                </div>
                            </section>