
<!-- BEGIN SINGLE PHOTO MODULE
///////////////////////////////////////////////////////////// -->

                          <div class="row">
                            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-column">
                            <h1 class="margin-top-negative margin-bottom-15">Page Title H1</h1>

                              <div class="item item-inline item-landing">
                                  <div data-caption="#caption6">
                                      <a href="http://www.will.illinois.edu/midamericangardener">
                                          <img src="../assets/cwru/img/1200x450.png" alt="Mid-American Gardener panelists on the set" />
                                      </a>
                                  </div>
                                  <div class="carousel-caption">
                                      <h2>
                                          Spot for text to go here on the image <a class="visible-xs-inline" href="http://www.will.illinois.edu/midamericangardener"> Learn More </a>
                                      </h2>
                                      <p class="hidden-xs"><a href="http://www.will.illinois.edu/midamericangardener" class="btn blue btn-lg btn-min"> Learn More </a></p>
                                  </div>
                              </div>

                            </section>
                          </div>
