
<!-- BEGIN ASIDE MODULE
///////////////////////////////////////////////////////////// -->

                              <!-- BEGIN PAGE ASIDE -->
                              <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
                              <h2 class="sr-only" tabindex="0">This is an aside</h2>

                                <section>
                                <h3 class="sr-only" tabindex="0">Link Group</h3>
                                <ul class="list-group">
                                    <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><i class="fa fa-coffee fa-fw" aria-hidden="true"></i><span>Link 1</span></a> </li>
                                    <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i><span>Link 2 has a really long name for some strange reason</span></a> </li>
                                    <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i><span>Link 3</span></a> </li>
                                    <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><i class="fa fa-flask fa-fw" aria-hidden="true"></i><span>Link 4</span></a> </li>
                                    <li class="list-group-item bg-blue bg-font-blue"> <a href="index.html"><i class="fa fa-film fa-fw" aria-hidden="true"></i><span>Link 5</span></a> </li>
                                </ul>
                                </section>

                              </aside>
                              <!-- END PAGE ASIDE -->