
<!-- BEGIN SINGLE PHOTO MODULE
///////////////////////////////////////////////////////////// -->

                              <section class="sub-carousel">
                                <h2 class="sr-only" tabindex="0">Carousel/image</h2>
                                <div class="item item-inline">
                                    <div data-caption="#caption6">
                                        <a href="http://www.will.illinois.edu/midamericangardener">
                                            <img src="../assets/cwru/img/1200x450.png" alt="Mid-American Gardener panelists on the set" />
                                        </a>
                                    </div>
                                    <div class="carousel-caption">
                                        <h2>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="http://www.will.illinois.edu/midamericangardener"> Learn More </a>
                                        </h2>
                                    </div>
                                </div>
                              </section>
