@import "bourbon"
@import "neat"
@import "variables"

.color-palette
	display: inline-block
	width: 100px
	text-align: center
	color: #fff
	padding: 20px 10px
	border-radius: 4px !important
	box-shadow: $box-shadow
	@include transition(box-shadow 0.1s ease-in-out)
	&:hover
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2)
	&.blue-palette
		background-color: $primary-color
	&.gray-palette
		background-color: #626262
	&.default-palette
		background-color: #e5e5e5
		color: #000
	&.white-palette
		background-color: #fff
		color: #000
	&.black-palette
		background-color: #000
