// Colors
$primary-color: #0a304e
$light-gray: #e6e6e6
$dark-gray: #666
$yellow: #FEDD29

// Breakpoints
$medium-screen: 900px
$large-screen: 1300px

// Misc
$box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1)